:root {
    /*Colores Norte*/
    --fondo-norte: #540804;
    --texto-norte: #EA8C55;
    --fondo-catamarca: #81171B;
    --fondo-chaco: #94231e;
    --fondo-corrientes: #a23020;
    --fondo-formosa: #ad2e24;
    --fondo-jujuy: #b8392c;
    --fondo-la-rioja: #c75146;
    --fondo-misiones: #d96a4e;
    --fondo-salta: #e17a50;
    --fondo-santiago-del-estero: #e88652;
    --fondo-tucuman: #EA8C55;

    /*Colores Centro*/
    --fondo-centro: #3C4B22;
    --texto-centro: #b8860b;
    --fondo-bsas: #6b8e23;
    --fondo-caba: #7a9527;
    --fondo-cordoba: #889d2b;
    --fondo-entre-rios: #9acd32;
    --fondo-la-pampa: #adc43c;
    --fondo-mendoza: #c2b946;
    --fondo-san-juan: #daa520;
    --fondo-san-luis: #c89516;
    --fondo-santa-fe: #b8860b;

    /*Colores Sur*/
    --fondo-sur: #03045E;
    --texto-sur: #caf0f8;
    --fondo-chubut: #0077b6;
    --fondo-neuquen: #3096cd;
    --fondo-rio-negro: #00b4d8;
    --fondo-santa-cruz: #90e0ef;
    --fondo-tierra-del-fuego: #caf0f8;

    /*Colores generales*/
    --items-header: #c14d45;
    --fondo-blanco: #f7f2e2;
    --texto-naranja-fuerte: #b72e24;
    --azul-oscuro-general: #041b30;
    --color-logo: #bf1509;

    /*Colores mapa*/
    --identificador-norte: #972916;
    --identificador-centro: #0f5618;
    --identificador-sur: #0c1d75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt_logo,
.titulo,
.subtitulo,
.titulo_descubrir,
.titulo_mapa,
.titulo_contacto,
.subtitulo_contacto,
.titulo_norte,
.subtitulo_norte,
.titulo_centro,
.subtitulo_centro,
.titulo_sur,
.subtitulo_sur {
    font-family: 'Playfair Display';
}

.item_navbar,
.descripcion_index,
.titulo_tarjetas,
.descripcion_mapa,
.btn_mapa,
.btn_contacto,
footer,
.seccion_form_contacto,
input,
textarea {
    font-family: 'Poppins';
}

header {
    background-color: var(--azul-oscuro-general);
}

.logo {
    width: 80px;
}

.txt_logo {

    color: var(--color-logo) !important;
}

.item_navbar,
footer {
    color: #c14d45 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23c14d45' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* INDEX */

.contenedor_video,
.contenedor_descubrir,
footer,
.inicio_mapa,
.seccion_mapa,
.seccion_form_contacto {
    background-color: #103c65;
}

.titulo {
    color: var(--texto-naranja-fuerte);
    font-size: 6rem;
}

.subtitulo {
    font-size: 3rem;
    color: #c3392f;
}

.descripcion_index {
    background-color: var(--fondo-blanco);
}

.titulo_descubrir {
    color: var(--texto-naranja-fuerte);
    font-size: 4rem;
}

.carousel {
    width: 20rem;
    height: 30rem;
}

.titulo_tarjetas,
.btn_mapa,
.btn_contacto,
.lugar_mapa,
.seccion_form_contacto {
    color: var(--fondo-blanco);
}

.img_tarjetas {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.contenedor_mapa,
.inicio_contacto {
    background-color: var(--fondo-blanco);
}

.titulo_mapa {
    color: var(--azul-oscuro-general) !important;
    font-size: 4rem !important;
}

.descripcion_mapa,
.inicio_contacto,
.titulo_contacto,
.subtitulo_contacto {
    color: var(--azul-oscuro-general);
}

.btn_mapa,
.btn_contacto,
footer {
    background-color: var(--azul-oscuro-general);
}


/*NORTE*/

.videos_banners {
    pointer-events: none;
}

.titulo_norte {
    color: var(--texto-norte);
    font-size: 6rem;
}

.subtitulo_norte {
    color: var(--texto-norte);
    font-size: 3rem;
}

.provincia {
    width: 100%;
    padding: 20px 10px;
}

summary {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
}

.titulo_lugar {
    font-family: 'Poppins';
    color: var(--texto-norte);
    font-weight: 400;
    padding: 10px 0;
}

.img_lugar {
    width: 500px;
}

/*CENTRO*/

.titulo_centro {
    color: var(--texto-centro);
    font-size: 6rem;
}

.subtitulo_centro {
    color: var(--texto-centro);
    font-size: 4rem;
}

/*SUR*/

.titulo_sur {
    color: var(--texto-sur);
    font-size: 6rem;

}

.subtitulo_sur {
    color: var(--texto-sur);
    font-size: 4rem;

}

/*MAPA*/
.titulo_mapa {
    font-family: 'Playfair Display';
    color: var(--fondo-blanco);
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
}

.subtitulo_mapa {
    font-family: 'Cormorant Garamond';
    color: var(--fondo-blanco);
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.seccion_mapa {
    color: var(--fondo-blanco);
    padding: 20px;
}

.img_mapa {
    width: 500px;
    display: inline;
}

.titulo_identificadores {
    font: 400 30px 'Poppins';
}

.txt_identificador {
    font: 300 20px 'Poppins';
}

.icono_identificador,
.txt_identificador {
    display: inline;
    padding: 5px;
}

.seccion_busqueda {
    background-color: var(--fondo-blanco);
}

.contenedor_buscar,
.contenedor_lugares {
    text-align: center;
    padding: 20px 0;
    font-family: 'Playfair Display';
    color: var(--azul-oscuro-general);
    font-size: 25px;
    font-weight: 500;
}

#provincias {
    padding: 3px 15px;
    font-family: 'Poppins';
    color: var(--azul-oscuro-general);
    font-size: 15px;
    font-weight: 300;
}

.lugar_mapa {
    background-color: #103c65;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 200;
    border-radius: 50px;
    width: 50%;
    margin: 20px 0;
    padding: 15px 0;
    text-align: center;
    margin-left: 300px;
}

/*CONTACTO*/

.titulo_contacto {
    font-size: 5rem;
}

.subtitulo_contacto {
    font-size: 2.5rem;
}


input,
textarea {
    border: none;
}

label {
    font-size: 1.5rem;
}

.carrusel_contcato {
    width: 38rem;
    height: 40rem;
}

@media screen and (max-width: 768px) {

    .titulo,
    .titulo_contacto,
    .titulo_norte,
    .titulo_centro,
    .titulo_sur {
        font-size: 2.7rem;
    }

    .subtitulo,
    .subtitulo_contacto,
    .subtitulo_norte,
    .subtitulo_centro,
    .subtitulo_sur {
        font-size: 1.5rem;
        padding: 0 1rem !important;
    }

    .descripcion_index {
        font-size: 0.5rem !important;
        padding: 0.5rem !important;
    }

    .titulo_descubrir,
    .titulo_mapa {
        font-size: 2.5rem !important;
    }

    .seccion_form_contacto {
        padding: 1rem !important;
    }

    .carrusel_contcato {
        width: 100%;
        height: 15rem;
    }
}