:root {
    /*Colores Norte*/
    --fondo-norte: #540804;
    --texto-norte: #EA8C55;
    --fondo-catamarca: #81171B;
    --fondo-chaco: #94231e;
    --fondo-corrientes: #a23020;
    --fondo-formosa: #ad2e24;
    --fondo-jujuy: #b8392c;
    --fondo-la-rioja: #c75146;
    --fondo-misiones: #d96a4e;
    --fondo-salta: #e17a50;
    --fondo-santiago-del-estero: #e88652;
    --fondo-tucuman: #EA8C55;

    /*Colores Centro*/
    --fondo-centro: #3C4B22;
    --texto-centro: #b8860b;
    --fondo-bsas: #6b8e23;
    --fondo-caba: #7a9527;
    --fondo-cordoba: #889d2b;
    --fondo-entre-rios: #9acd32;
    --fondo-la-pampa: #adc43c;
    --fondo-mendoza: #c2b946;
    --fondo-san-juan: #daa520;
    --fondo-san-luis: #c89516;
    --fondo-santa-fe: #b8860b;

    /*Colores Sur*/
    --fondo-sur: #03045E;
    --texto-sur: #caf0f8;
    --fondo-chubut: #0077b6;
    --fondo-neuquen: #3096cd;
    --fondo-rio-negro: #00b4d8;
    --fondo-santa-cruz: #90e0ef;
    --fondo-tierra-del-fuego: #caf0f8;

    /*Colores generales*/
    --items-header: #c14d45;
    --fondo-blanco: #f7f2e2;
    --texto-naranja-fuerte: #b72e24;
    --azul-oscuro-general: #041b30;
    --color-logo: #bf1509;

    /*Colores mapa*/
    --identificador-norte: #972916;
    --identificador-centro: #0f5618;
    --identificador-sur: #0c1d75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt_logo,
.titulo,
.subtitulo,
.titulo_descubrir,
.titulo_mapa-index,
.titulo_contacto,
.subtitulo_contacto,
.titulo_norte,
.subtitulo_norte,
.titulo_centro,
.subtitulo_centro,
.titulo_sur,
.subtitulo_sur,
.recomendaciones-mapa-modal,
.titulo_mapa,
.subtitulo_mapa {
    font-family: 'Playfair Display';
}

.item_navbar,
.descripcion_index,
.titulo_tarjetas,
.descripcion_mapa,
.btn_mapa,
.btn_contacto,
footer,
.seccion_form_contacto,
input,
textarea,
.titulo_provincias-mapa,
.descripcion-mapa-modal,
.modal-title {
    font-family: 'Poppins';
}

header {
    background-color: var(--azul-oscuro-general);
}

.logo {
    width: 80px;
}

.txt_logo {

    color: var(--color-logo) !important;
}

.item_navbar,
footer {
    color: #c14d45 !important;
}

.nav-link.active {
    color: var(--color-logo) !important;
    border-bottom: 2px solid var(--color-logo);
}

.item_navbar {
    padding: 0 1rem !important;
    transition: transform 0.3s !important;
}

.nav-link {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 80%;
    height: 8px;
    background: radial-gradient(ellipse at center, rgba(241, 177, 177, 0.502) 0%, transparent 80%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.nav-link:hover {
    transform: translateY(-3px);
}

.nav-link:hover::after {
    opacity: 1;
}

/**/

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23c14d45' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nombre-provincia {
    font-size: 2rem !important;
    padding: 1.5rem !important;
}

.btn-modal {
    border: 2px solid white !important;
    color: white !important;
    padding: 0.2rem 2rem !important;
    font-size: 1.5rem !important;
}

.descripcion-modal {
    font-size: 1.5rem;
    padding: 1rem;
}

.dimension-carrusel {
    width: 100% !important;
    height: 100% !important;
}

/* INDEX */

.contenedor_video,
.contenedor_descubrir,
footer,
.inicio_mapa,
.seccion_mapa,
.seccion_form_contacto {
    background-color: #103c65;
}

.titulo,
.titulo_mapa {
    color: var(--texto-naranja-fuerte) !important;
    font-size: 6rem !important;
}

.subtitulo {
    font-size: 3rem;
    color: #c3392f;
}

.descripcion_index,
.modal-header {
    background-color: var(--fondo-blanco);
}

.titulo_descubrir {
    color: var(--texto-naranja-fuerte);
    font-size: 4rem;
}

.carousel {
    width: 20rem;
    height: 30rem;
}

.titulo_tarjetas,
.btn_mapa,
.btn_contacto,
.seccion_form_contacto,
.subtitulo_mapa,
.titulo_provincias-mapa {
    color: var(--fondo-blanco);
}

.img_tarjetas {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.contenedor_mapa,
.inicio_contacto {
    background-color: var(--fondo-blanco);
}

.descripcion_mapa,
.inicio_contacto,
.titulo_contacto,
.subtitulo_contacto,
.recomendaciones-mapa-modal,
.modal-title,
.titulo_mapa-index {
    color: var(--azul-oscuro-general);
}

.btn_mapa,
.btn_contacto,
footer {
    background-color: var(--azul-oscuro-general);
}

.titulo_mapa-index {
    font-size: 4rem;
}

/*NORTE*/

.videos_banners {
    pointer-events: none;
}

.titulo_norte {
    color: var(--texto-norte);
    font-size: 6rem;
}

.subtitulo_norte {
    color: var(--texto-norte);
    font-size: 3rem;
}

.provincia {
    width: 100%;
}

.titulo_lugar {
    font-family: 'Poppins';
    color: var(--texto-norte);
    font-weight: 400;
    padding: 10px 0;
}


.lugar_provincia_prueba {
    background-image: url("../assets/img/norte/catamarca/fiambala/fiambala1.jpg");
    height: 10rem;
    background-size: cover;
}

.degrade {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

/*CENTRO*/

.titulo_centro {
    color: var(--texto-centro);
    font-size: 6rem;
}

.subtitulo_centro {
    color: var(--texto-centro);
    font-size: 4rem;
}

/*SUR*/

.titulo_sur {
    color: var(--texto-sur);
    font-size: 6rem;

}

.subtitulo_sur {
    color: var(--texto-sur);
    font-size: 4rem;

}

/*MAPA*/
.titulo_mapa,
.titulo_mapa-index {
    padding-top: 1rem;
    text-align: center;
}

.subtitulo_mapa {
    font-size: 2rem;
    text-align: center;
}

.seccion_mapa {
    padding: 20px;
}

.img_mapa,
.provincias-mapa {
    width: 50%;
}

.titulo_provincias-mapa,
.recomendaciones-mapa-modal {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
}

.contenido-modal-mapa {
    display: flex;
}

.mapa-modal {
    width: 50%;
    height: 30rem;
}

.txt-mapa-modal {
    width: 50%;
}

.descripcion-mapa-modal {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.modal-title {
    font-size: 1rem;

}


/*CONTACTO*/

.titulo_contacto {
    font-size: 5rem;
}

.subtitulo_contacto {
    font-size: 2.5rem;
}

input,
textarea {
    border: none;
}

label {
    font-size: 1.5rem;
}

.carrusel_contcato {
    width: 38rem;
    height: 40rem;
}



@media screen and (max-width: 768px) {

    .titulo,
    .titulo_contacto,
    .titulo_norte,
    .titulo_centro,
    .titulo_sur {
        font-size: 2.7rem !important;
    }

    .subtitulo,
    .subtitulo_contacto,
    .subtitulo_norte,
    .subtitulo_centro,
    .subtitulo_sur,
    .subtitulo_mapa {
        font-size: 1.5rem;
        padding: 0 1rem !important;
    }

    .nav-link {
        padding: 0.5rem 0 !important;
    }

    .nav-link:hover::after {
        opacity: 0;
    }

    .descripcion_index {
        font-size: 0.5rem !important;
        padding: 0.5rem !important;
    }

    .titulo_descubrir,
    .titulo_mapa-index,
    .titulo_provincias-mapa,
    .recomendaciones-mapa-modal {
        font-size: 2.5rem !important;
    }

    .seccion_form_contacto {
        padding: 1rem !important;
    }

    .carrusel_contcato {
        width: 100%;
        height: 15rem;
    }

    .nombre-provincia {
        font-size: 1.5rem !important;
    }

    .lugar_provincia_prueba {
        height: 13rem;
    }

    .seccion_mapa,
    .contenido-modal-mapa {
        flex-direction: column;
        align-items: center;
    }

    .img_mapa,
    .mapa-modal,
    .txt-mapa-modal,
    .provincias-mapa {
        width: 100%;
    }

    .provincias-mapa {
        margin-top: 2rem;
    }

    .titulo_mapa {
        font-size: 4rem !important;
    }


}