@use "mixins";

.provincia {
    width: 100%;
    
}

/* --- Contenido Acordiones --- */
.titulo_lugar_norte {
    @include mixins.tarjetas(rgb(244, 208, 184))
}

.titulo_lugar_centro {
    @include mixins.tarjetas(rgb(98, 227, 113))
}

.titulo_lugar_sur {
    @include mixins.tarjetas(rgb(5, 163, 248))
}

.nombre-provincia{

    @media screen and (max-width: 768px){
        font-size: 1.5rem !important;
    }
}


.lugar_provincia_prueba {
    background-image: url("../assets/img/norte/catamarca/fiambala/fiambala1.jpg");
    height: 13rem;
    background-size: cover;

    @media screen and (max-width: 768px){
        height: 15rem;
        
    }
}

.degrade-norte {
    @include mixins.degrade(#54080499, #ea8c5584);
    height: 100%;
}

.degrade-centro {
    @include mixins.degrade(#3c4b229c, #b8870ba0);
    height: 100%;
}

.degrade-sur {
    @include mixins.degrade(#03055eac, #caf0f895);
    height: 100%;
}