@use "mixins";

.titulo_contacto{
    font-size: 5rem;

    @media screen and (max-width: 768px){
        @include mixins.titulos-paginas-responsve();
    }
}

.subtitulo_contacto{
    font-size: 2.5rem;

    @media screen and (max-width: 768px){
        @include mixins.subtitulos-paginas-responsve();
    }
}

.seccion_form_contacto{
    @media screen and (max-width: 768px){
        padding: 1rem !important;
    }
}

input, textarea{
    font-family: var(--font-Poppins);
    border: none;
}

label {
    font-size: 1.5rem;
}