header{
    background-color: var(--azul-oscuro-general);

    .txt_logo{
        color: var(--color-logo) !important;
        font-family: var(--font-playfair);

        .logo{
            width: 80px;
        }
    }
}