@mixin titulos-paginas ($color, $font-size){
    color: $color !important;
    font-size: $font-size !important;
}

@mixin titulos-paginas-responsve{
    font-size: 2.5rem !important;
}

@mixin subtitulos-paginas-responsve{
    font-size: 1.5rem !important;
    padding: 0 1rem !important;
}

@mixin font-padding ($font, $paddingY, $paddingX){
    font-size: $font !important;
    padding: $paddingY $paddingX !important;
}

@mixin ancho-alto($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin degrade($color1, $color2){
    background: linear-gradient(to right , $color1, $color2);
}

@mixin tarjetas-provincias($color-fondo1, $color-fondo2, $color-fondo3, $color-fondo4, $color-texto){
    background: linear-gradient(135deg , $color-fondo1 0%, $color-fondo2 30%, $color-fondo3 70%, $color-fondo4 100%) !important;
    color: $color-texto !important;
}

@mixin tarjetas($color){
    font-family: var(--font-Poppins);
    color: $color;
    font-weight: 300;
    padding: 1rem 0;
    font-size: 2.5rem;

    @media screen and (max-width: 768px){
        font-size: 2rem !important;
        padding: 1rem;
    }
}
